.task {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-top: 1px solid $gray;
  list-style: none;

  &--active {
    box-shadow: 0 0 4px $blue-light;
    z-index: 2;
  }

  &__btn-action {
    text-align: center;
    display: none;

    .task--active & {
      display: block;
    }
  }

  &__btn-open-actions {
    text-align: left;
    background-color: $white;
    color: $black;
  }

  &__btn-done {
    background-color: $green;
    border-top-color: $green-dark;
  }

  &__btn-delete {
    background-color: $red;
    border-top-color: $red-dark;
  }
}
