// variables
$gutter: 14px;
$gray: #ccc;
$white: #fff;
$green: #5cb85c;
$green-dark: #3d803d;
$red: #d9534f;
$red-dark: #904240;
$blue-light: #5bc0de;

// components
@import 'components/task/Task';
@import 'components/taskList/TaskList';

// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
