// variables
$gutter: 14px;

// colors
$black: #222;
$white: #fff;

$gray-light: #f5f5f5;
$gray: #ccc;
$gray-dark: #808080;

$green: #5cb85c;
$green-dark: #3d803d;

$red: #d9534f;
$red-dark: #904240;

$blue-light: #5bc0de;
$blue: #337ab7;
$blue-dark: #274661;

body {
  font-family: 'Open Sans', sans-serif;
  color: $gray-dark;
}

.btn {
  border: 0;
  flex-basis: 100%;
  padding: $gutter;
  color: $white;
  border-top: 1px solid transparent;
  border-radius: 0;

  &:focus {
    outline: none;
  }
}

// components
@import 'components/task/task';
@import 'components/taskList/taskList';
@import 'components/taskListAddTask/taskListAddTask';
@import 'components/taskCounter/taskCounter';

//partials
@import 'partials/footer/footer';

// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
