<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<!-- <html lang="en" manifest="manifests/tasks.appcache"> -->
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

  <main id="app"></main>

  <footer>
    <% include ../partials/footer/footer %>
  </footer>

</body>
</html>