<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<!-- <html lang="en" manifest="manifests/tasks.appcache"> -->
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>

  <main id="app"></main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>